.form {
    color: #000;

    --checkbox-side-size: 28px;
}

.form input::placeholder {
    color: var(--color-gray-blue);
    font-size: 18px;
    line-height: 26px;
    padding: 0;
    font-family: var(--primary-font-family);
}

.form .field-wrapper {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 20px;
}

.form fieldset {
    display: grid;
    grid-auto-flow: row;
    margin: 0;
    border: none;
    padding: 0;
}

.form form > .field-wrapper + .field-wrapper,
.form form fieldset .field-wrapper + .field-wrapper {
    margin-top: 24px;
}

.form .steps .step {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form form > .selection-wrapper + .selection-wrapper,
.form form fieldset .selection-wrapper + .selection-wrapper {
    margin-top: 0.25em;
}

@media (width >= 600px) {
    .form fieldset {
        grid-template-columns: 1fr 1fr;
        gap: 0.25em 24px;
    }

    .form form > .selection-wrapper + .selection-wrapper,
    .form form fieldset .field-wrapper + .field-wrapper,
    .form form fieldset .selection-wrapper + .selection-wrapper {
        margin-top: 0;
    }
}

@media (width >= 1025px) {
    .form fieldset {
        grid-template-columns: 1fr 1fr;
    }
}

.form label,
.form fieldset > legend {
    font-size: 28px;
    line-height: 26px;
    font-weight: 400;
}

.form .selection-wrapper label {
    margin: 0;
    font-weight: normal;
}

.form input,
.form select,
.form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    padding-bottom: 4px;
    border-radius: 0;
    border-bottom: 1px solid;
    color: #000;
}

.form textarea {
    resize: vertical;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    outline: none;
}

.form .selection-wrapper input {
    width: max-content;
}

.form .button {
    color: black;
    padding-left: unset;
    padding-right: unset;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.form .field-wrapper.selection-wrapper {
    grid-auto-flow: column;
    justify-content: start;
    gap: 1ch;
}

.form label[data-required]::after {
    content: "*";
    color: #000;
}

.form .toggle-wrapper .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.form .toggle-wrapper input {
    opacity: 0;
    width: 52px;
    height: 28px;
}

.form .toggle-wrapper .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 28px;
    background-color: var(--color-dark);
    transition: background-color 0.2s;
}

.form .toggle-wrapper .slider::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: var(--background-color);
    transition: transform 0.2s;
}

.form .toggle-wrapper input:checked + .slider {
    background-color: var(--color-blue);
}

.form .toggle-wrapper input:focus + .slider {
    outline: 2px solid var(--color-blue);
    outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
    transform: translateX(24px);
}

.form.multistep .button {
    margin: unset;
    line-height: 32px;
}

.form .blue-button .button {
    border: var(--border-size) solid var(--color-blue);
    background: linear-gradient(to right, var(--color-blue) 50%, rgb(0 0 0 / 0%) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.form .blue-button .button::after {
    background: var(--color-blue);
    background-origin: border-box;
    background-repeat: no-repeat;
}

.form .blue-button .button:hover {
    background-position: left top;
}

.form .small-field label {
    font-size: 18px;
}

.form input[type="checkbox"] {
    opacity: 0;
    width: 1px;
    margin-left: calc(var(--checkbox-side-size) / 2);
    position: absolute;
}

.form input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: var(--checkbox-side-size);
    height: var(--checkbox-side-size);
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 24px;
    vertical-align: middle;
    background-color: var(--color-white);
}

.form input[type="checkbox"] + label:hover {
    cursor: pointer;
}

.form input[type="checkbox"]:checked + label::before {
    background-image: url("/icons/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-white);
    text-align: center;
    line-height: 18px;
}

.form.multistep form {
    display: grid;
    grid-template-columns: 0.11fr 0.6fr 0.29fr;
    column-gap: 48px;
}

.form.multistep .steps-navigation {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.thankyou-message-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.thankyou-message {
    text-align: center;
}

.thankyou-image {
    height: 88px;
    margin-bottom: 48px;
}

.multistep-heading {
    margin-bottom: 24px;
    font-size: var(--font-size-h1);
    font-family: var(--secondary-font-family);
}

.step-counter {
    font-size: 32px;
    line-height: 26px;
    display: block;
}

/* stylelint-disable-next-line selector-class-pattern */
.Submit-wrapper {
    display: none;
}

@media (width <= 1024px) {
    .form.multistep form {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .form.multistep .step-counter-container {
        display: none;
    }

    .form.multistep .button {
        --button-padding-left: 0;
        --button-padding-right: 0;
        --button-padding-top: 20px;
        --button-padding-bottom: 20px;
        --button-font-size: 18px;

        line-height: normal;
    }

    .form label, .form fieldset > legend {
        font-size: var(--font-size-h1);
        font-weight: 500;
    }

    .form input::placeholder {
        font-size: 12px;
        line-height: normal;
    }

    .form input,
    .form select,
    .form textarea {
        font-size: 14px;
    }

    .form .small-field label {
        font-size: 12px;
    }

    .form .field-wrapper {
        gap: 8px;
    }

    .multistep-heading {
        font-size: var(--font-size-h1);
    }

    .form.multistep .steps-navigation {
        gap: 20px;
    }
}