.blog-hero-container .blog-hero-wrapper {
    max-width: unset;
    padding: 0;
}

.blog-hero {
    position: relative;
    padding: 40px 24px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.blog-hero.adaptive-height {
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

main:has(.blog-hero.parallax) {
    position: relative;
}

.blog-hero-container:has(.blog-hero.parallax) {
    position: sticky;
    top: 0px;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.blog-hero.parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}

.parallax-content {
    background-color: var(--color-black);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
    background-image: url("https://media.devhandler.com/static/images/bg-desktop.webp");
    background-size: cover;
    margin: 40px 0px;
}

.blog-hero.mask-image::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: var(--color-black);
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

.blog-hero.cyan {
    color: var(--color-aqamarine);
}

.blog-hero.black {
    color: var(--color-black);
}

.blog-hero-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.blog-hero:has(.search) {
    height: 400px;
}

.blog-hero h1,
.blog-hero p {
    margin: 0 auto 24px;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.blog-hero.content-left h1 {
    margin-left: 0;
}

.blog-hero.content-right h1 {
    margin-right: 0;
}

.blog-hero p {
    line-height: 1.2;
}

.blog-hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.blog-hero.adaptive-height picture {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.blog-hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-hero-optional-container {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-hero-optional-container > *:last-child {
    margin-bottom: 0;
}

.blog-hero:has(.search) .blog-hero-optional-container {
    position: static;
}

@media (width >= 1025px) {
    .blog-hero {
        padding: 40px 32px;
        min-height: 300px;
    }

    .blog-hero h1 {
        margin-top: 24px;
        max-width: 80%;
        text-wrap: balance;
        -webkit-line-clamp: 6 !important;
    }

    .blog-hero .blog-hero-text-short {
        -webkit-line-clamp: 2 !important;
    }

    .blog-hero-optional-container {
        position: absolute;
        width: 100%;
        inset-inline: 0;
    }

    .blog-hero.content-left {
        text-align: left;
    }

    .blog-hero.content-right {
        text-align: right;
    }
}

@media (width <= 1024px) {
    .blog-hero {
        min-height: 335px;
    }

    .blog-hero.adaptive-height {
        min-height: auto;
    }

    .blog-hero:has(.search) {
        height: auto;
    }

    .blog-hero h1 {
        font-size: 20px;
        -webkit-line-clamp: 15 !important;
    }

    .blog-hero .blog-hero-text-short {
        -webkit-line-clamp: 6 !important;
    }
}
