

.quote__content-top-left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.quote .quote__content-top {
    display: flex;
    justify-content: space-between;
}

.quote .quote__title {
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quote .quote__aftertitle {
    white-space: nowrap;
}

