.quote {
    padding: 24px;
    background: white;
    border-radius: var(--border-radius);
    color: #000;
}

.quote__content-top-left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.quote__content-top-right {
    display: inline-flex;
    gap: 24px
}

.quote__reviews {
    display: inline-flex;
    gap: 4px;
    width: max-content;
}

.quote__review {
    width: 20px;
    height: 20px;
}

.quote .quote__content-top {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    gap: 40px;
}

.quote .quote__divider {
    height: 1px;
    background: var(--color-gray);
    margin-top: 16px;
    margin-bottom: 16px;
}

.quote .quote__content-bottom {
    padding-left: 24px;
    padding-right: 24px;
}


.quote .quote__title {
    font-size: 28px;
    line-height: 26px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quote .quote__aftertitle {
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .quote .quote__content-top {
        flex-direction: column;
        gap: 8px;
    }

    .quote__content-top-left {
        flex-direction: column;
    }

    .quote__content-top-right {
        flex-direction: column;
        gap: 8px;
    }
}
