.quote {
    padding: 24px;
    background: white;
    border-radius: var(--border-radius);
    color: #000;
}

.quote-content-top-left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.quote-content-top-right {
    display: inline-flex;
    gap: 24px
}

.quote-reviews {
    display: inline-flex;
    gap: 4px;
    width: max-content;
}

.quote-review {
    width: 20px;
    height: 20px;
}

.quote .quote-content-top {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    gap: 40px;
}

.quote .quote-divider {
    height: 1px;
    background: var(--color-gray);
    margin-top: 16px;
    margin-bottom: 16px;
}

.quote .quote-content-bottom {
    padding-left: 24px;
    padding-right: 24px;
}


.quote .quote-title {
    font-size: 28px;
    line-height: 26px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quote .quote-aftertitle {
    white-space: nowrap;
}

@media (width <= 1024px) {
    .quote {
        width: 68vw;
        line-height: 125%;
        height: calc(100% - 48px);
    }

    .quote .quote-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 32px;
    }
    .quote .quote-content-top {
        flex-direction: column;
        gap: 8px;
    }

    .quote-content-top-left {
        flex-direction: column;
        white-space: unset;
    }

    .quote-content-top-right {
        flex-direction: column;
        gap: 8px;
    }

}
