.datablock-wrapper:has(.datablock.hero) {
    max-width: unset;
    margin: unset;
    padding: unset;
}

/* Image Styles */
.datablock.hero .datablock-image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.datablock.hero.small-hero .datablock-image img {
    height: 360px;
}

@media (width >= 1025px) {
    .datablock.hero {
        min-height: 485px;
    }

    .datablock.hero.small-hero {
        min-height: 360px;
    }
}

.datablock.hero .datablock-video video {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.datablock.hero .datablock-video {
    font-size: 0;
}

.datablock.hero .datablock-content {
    position: absolute;
    top: 0;
    padding-top: 150px;
    width: 60%;
    box-sizing: border-box;
}

.datablock.hero.small-hero .datablock-content {
    width: 100%;
}

.datablock.hero .datablock-title {
    font-size: var(--font-size-h1);
    font-family: var(--secondary-font-family);
}

.datablock.hero .datablock-content .datablock-description {
    font-size: var(--font-size-h3);
    line-height: normal;
    font-family: var(--primary-font-family);
    letter-spacing: 0;
    margin-top: 16px;
}

.datablock.hero.highlight-title .datablock-title {
    backdrop-filter: blur(4px);
    border: var(--border-size) solid var(--color-aqamarine);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.datablock.hero .datablock-cta-container {
    margin-top: 32px;
    display: flex;
    width: fit-content;
}

.datablock.hero .datablock-content > * {
    max-width: 720px;
    line-height: normal;
    padding-left: 8%;
}

.datablock.hero.small-hero .datablock-content > * {
    max-width: unset;
    padding-right: 8%;
}

.datablock.hero.small-hero {
    text-align: center;
}

.datablock.hero .datablock-cta {
    font-size: var(--font-size-h2);
    padding: 24px 64px;
    backdrop-filter: blur(20px);
}

.datablock.hero .datablock-cta:hover {
    color: white;
}

.datablock.hero .multiple-titles {
    height: 150px;
}

.datablock.hero .datablock-titles-wrapper {
    max-height: 84px;
    transition: max-height .5s ease;
    overflow: hidden; /* Hide the rest */
}

.datablock.hero .datablock-titles {
    transform: translateY(0);
    transition: transform 1s;
    will-change: transform;
}

@media (width <= 1024px) {
    .datablock.hero .datablock-content {
        padding-top: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        padding-left: 8%;
        padding-right: 8%;
        text-align: center;
    }

    .datablock.hero .datablock-titles-wrapper {
        max-height: 40px;
    }

    .datablock.hero .datablock-content > div {
        padding-left: 0;
    }

    .datablock.hero .datablock-content .datablock-description {
        font-size: 16px;
    }

    .datablock.hero .datablock-cta {
        font-size: 18px;
        padding: 24px 64px;
    }

    .datablock.hero .datablock-cta-container {
        margin-top: 8px;
    }

    .datablock.hero .datablock-video video {
        height: calc(100vh - 50px);
    }

    .datablock.hero .datablock-content > * {
        padding-left: 0;
    }

    .datablock.hero.small-hero .datablock-content > * {
        padding-left: 0;
        padding-right: 0;
    }

    .datablock.hero:has(.datablock-titles-wrapper) .datablock-content {
        height: unset;
        gap: 16px;
        justify-content: space-between;
    }

    .datablock.hero .multiple-titles {
        height: 40px;
    }
}
