header nav a.header-button {
    background-color: var(--color-blue);
    width: max-content;
    border-radius: 10px;
    align-content: center;
    display: flex;
    height: 44px;
    padding: 4px 108px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

header nav li:has(a.header-button) {
    height: 100%;
}