.teaser-wrapper:has(.teaser.hero) {
    max-width: unset;
    margin: unset;
    padding: unset;
}

/* Image Styles */
.teaser.hero .teaser__image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.teaser.hero .teaser__video video {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.teaser.hero .teaser__video {
    font-size: 0;
}

.teaser.hero .teaser__content {
    position: absolute;
    top: 0;
    padding-top: 150px;
    width: 60%;
    box-sizing: border-box;
}

.teaser.hero .teaser__title {
    font-size: var(--font-size-h1);
    font-family: var(--secondary-font-family);
}

.teaser.hero .teaser__content .teaser__description {
    font-size: var(--font-size-h3);
    line-height: normal;
    font-family: var(--primary-font-family);
    letter-spacing: 0;
}

.teaser.hero.highlight-title .teaser__title {
    backdrop-filter: blur(4px);
    border: var(--border-size) solid var(--color-aqamarine);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.teaser.hero .teaser__description {
    margin-top: 16px;
}

.teaser.hero .teaser__cta-container {
    margin-top: 32px;
}

.teaser.hero .teaser__content > div {
    max-width: 720px;
    line-height: normal;
    padding-left: 8%;
}

.teaser.hero .teaser__cta-container {
    display: flex;
    width: fit-content;
}

.teaser.hero .teaser__cta {
    font-size: var(--font-size-h2);
    padding: 24px 64px;
    backdrop-filter: blur(20px);
}

.teaser.hero .teaser__cta:hover {
    color: white;
}