:root {
    --button-text-color: var(--color-aqamarine);
    --button-text-color-hover: var(--button-text-color);
    --button-background-hover-color: var(--color-aqamarine);
    --button-background-color: rgba(0, 0, 0, 0) 50%;
    --button-border-color: var(--button-background-hover-color);
    --button-font-size: 42px;
    --button-padding-left: 180px;
    --button-padding-right: 180px;
    --button-padding-top: 24px;
    --button-padding-bottom: 24px;
}

.color-gray {
    --button-background-hover-color: var(--color-gray);
    --button-border-color: var(--color-gray);
}

a.button,
button.button {
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    font-family: var(--secondary-font-family);
    border-radius: 20px;
    padding-left: var(--button-padding-left);
    padding-right: var(--button-padding-right);
    padding-top: var(--button-padding-top);
    padding-bottom: var(--button-padding-bottom);
    border: 3px solid var(--button-border-color);
    border-radius: 20px;
    position: relative;
    box-sizing: content-box;
    background: linear-gradient(to right, var(--button-background-hover-color) 50%, var(--button-background-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    background-origin: border-box;
    background-repeat: no-repeat;
    z-index: 1;
    display: inline-block;
    font-style: normal;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

a.button::after,
button.button::after {
    content: "";
    position: absolute;
    height: 100%;
    background: var(--button-background-hover-color);
    width: 40px;
    border-bottom-right-radius: 20px;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out, 
        border-top-right-radius 0.5s ease-in-out,
        border-bottom-right-radius 0.5s ease-in-out;
    z-index: -1;
    background-origin: border-box;
    background-repeat: no-repeat;
}

a.button:hover,
a.button:focus,
button.button:hover,
button.button:focus {
    color: var(--button-text-hover);
    background-position: left top;
    text-decoration: none;
    cursor: pointer;
}

