.button a.button:any-link,
.button a.button,
button.button {
    font-size: 42px;
    font-family: var(--secondary-font-family);
    border-radius: 20px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 3px solid var(--color-aqamarine);
    border-radius: 20px;
    position: relative;
    box-sizing: content-box;
    background: linear-gradient(to right, var(--color-aqamarine) 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-in-out;
    background-origin: border-box;
    background-repeat: no-repeat;
    z-index: 1;
}

.button a.button:any-link::after,
.button a.button::after,
button.button::after {
    content: "";
    position: absolute;
    height: 100%;
    background: var(--color-aqamarine);
    width: 40px;
    border-bottom-right-radius: 20px;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out, border-top-right-radius 0.5s ease-in-out,
        border-bottom-right-radius 0.5s ease-in-out;
    z-index: -1;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.button a.button:any-link:hover,
.button a.button:hover,
button.button:hover {
    background-position: left top;
}
