@import url(./margins/index.css);
@import url(./paddings/index.css);
@import url(./grids/index.css);

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black-lighter);
}

.hidden {
    display: none !important;
}

.bg-gray-linear {
    background: var(--color-bg-gray-linear);
}

.height-auto {
    height: auto;
}

.text-bottom {
    justify-content: end;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

@media (min-width: 1025px) {
    .vertical-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 91%;
        height: min-content;
        display: flex;
    }
    .desktop-hidden {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .mobile-bg-gray-linear {
        background: var(--color-bg-gray-linear);
    }
    .mobile-bg-white {
        background: var(--color-white);
    }
    .mobile-text-center {
        text-align: center;
    }
    .mobile-hidden {
        display: none !important;
    }
    .mobile-color-white {
        color: var(--color-white);
    }
    .mobile-color-black {
        color: var(--color-black-lighter);
    }
}
