.section {
    --section-background-size: cover;
    --section-background-image: 'none';
    --section-background-height: '';
    --section-background-position: '';
    --section-mobile-height: '';
    --section-mobile-background-image: '';
    --section-mobile-background-height: '';
    --section-height: '';
}

.section.border-box {
    box-sizing: border-box;
}

@media (width >= 1025px) and (width <= 1248px) {
    .section.border-box {
        margin-left: 24px;
        margin-right: 24px;
    }
}

.border {
    border: var(--border-size) solid var(--color-aqamarine);
    border-radius: var(--border-radius);
}

.default-border-radius {
    border-radius: var(--border-radius);
}

.border-blue {
    border-color: var(--color-blue);
}

.border-white {
    border-color: var(--color-white);
}

.border-cyan {
    border-color: var(--color-aqamarine);
}

.section.default-border-padding {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.section.row-gap-24 {
    column-gap: 24px;
}

.section.section-gap-0 {
    gap: 0;
}

main div.section {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: var(--section-height);
}

main div.section.block-group-end {
    max-width: unset;
    padding-left: unset;
    padding-right: unset;
    margin: unset;
    margin-top: unset;
}

main div.section.full-width {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

main div.section.full-width-with-side-paddings {
    padding-left: calc((100vw - 1200px - 12px) / 2);
    padding-right: calc((100vw - 1200px - 12px) / 2);
}

@media (width <= 1248px) {
    main div.section.full-width-with-side-paddings {
        padding-left: 24px;
        padding-right: 24px;
    }
}

main div.section.background-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main div.section.zindex-1 {
    z-index: 1;
}

main div.section.zindex-negative-1 {
    z-index: -1;
}

/* Colors */
main div.section.background-white {
    background-color: white;
    color: black;
}

main div.section.background-dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

main div.section.background-gradient {
    background: linear-gradient(to right, var(--color-aqamarine) 70%, var(--color-blue));
    color: black;
}

.bg:after {
    content: " ";
    position: absolute;
    background-image: var(--section-background-image);
    height: var(--section-background-height);
    width: 100%;
    z-index: -1;
    left: 0;
    top: var(--section-background-top);
    bottom: var(--section-background-bottom);
    background-position: var(--section-background-position);
    background-size: var(--section-background-size);
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {

    .mobile-border {
        border: var(--border-size) solid var(--color-aqamarine);
        border-radius: var(--border-radius);
    }

    .mobile-border-cyan {
        border-color: var(--color-aqamarine);
    }

    .mobile-border-blue {
        border-color: var(--color-blue);
    }

    .mobile-border-white {
        border-color: var(--color-white);
    }

    .mobile-border-top-none {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .mobile-border-bottom-none {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mobile-border-radius-0 {
        border-radius: 0;
    }

    .mobile-border-none {
        border: none;
        border-radius: 0;
    }

    main div.section {
        height: var(--section-mobile-height);
    }

    main div.section.mobile-border-radius, .mobile-border-radius {
        border-radius: var(--border-radius);
    }

    main div.section.mobile-gap-0 {
        gap: 0;
    }

    .bg:after {
        background-image: var(--section-mobile-background-image);
        height: var(--section-mobile-background-height);
        background-position: var(--section-background-position);
    }

    main div.section.mobile-background-white, .mobile-background-white {
        background-color: white;
        color: black;
    }

    main div.section.mobile-background-dark, .mobile-background-dark {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}