@import "./block-group-colors.css";

.block-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.display-grid {
    display: grid;
}

.block-group.align-items-end:not(.row) {
    align-items: end;
}


.block-group.row {
    flex-direction: row;
}

.block-group.row.align-items-end  {
    justify-content: end;
}

.block-group.max-width-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.block-group.gap-4 {
    gap: 4px;
}

.block-group.gap-0 {
    gap: 0;
}

.block-group.gap-16 {
    gap: 16px;
}

.block-group.full-height {
    height: 100%;
}

.center-content {
    align-items: center;
    justify-content: center;
}

.block-group.column-reverse {
    flex-direction: column-reverse;
}

@media (min-width: 1025px) {
    .center-content-desktop {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .block-group.mobile-gap-0 {
        gap: 0;
    }
    .block-group.mobile-gap-10 {
        gap: 10px;
    }
    .grid-mobile-reverse > *:first-child {
        order: 10;
    }
    .grid-mobile-reverse > *:nth-child(2) {
        order: 9;
    }
    .grid-mobile-reverse > *:nth-child(3) {
        order: 8;
    }
    .grid-mobile-reverse > *:nth-child(4) {
        order: 7;
    }
    .grid-mobile-reverse > *:nth-child(5) {
        order: 6;
    }
    .grid-mobile-reverse > *:nth-child(6) {
        order: 5;
    }
    .grid-mobile-reverse > *:nth-child(7) {
        order: 4;
    }
    .grid-mobile-reverse > *:nth-child(8) {
        order: 3;
    }
    .grid-mobile-reverse > *:nth-child(9) {
        order: 2;
    }
    .grid-mobile-reverse > *:nth-child(10) {
        order: 1;
    }
}