.block-group.bg-aqamarine, .block-group.bg-cyan {
    background-color: var(--color-aqamarine);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-blue {
    background-color: var(--color-blue);
}

