.block-group {
    margin: unset;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.block-group.max-width-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}