.block-group.bg-aqamarine, .block-group.bg-cyan {
    background-color: var(--color-aqamarine);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-blue {
    background-color: var(--color-blue);
}

@media (max-width: 1024px) {
    .mobile-bg-blue {
        background-color: var(--color-blue);
    }

    .mobile-bg-cyan {
        background-color: var(--color-aqamarine);
    }
}

