@import url('./text-tile-title-only.css');
@import url('./text-tile-spacings.css');
@import url('./text-tile-dots.css');

.text-tile.bg-blue {
    background-color: var(--color-blue);
}

.text-tile.bg-cyan {
    background-color: var(--color-aqamarine);
}

.text-tile {
    --text-tile-padding: 32px;
    background-color: white;
    color: var(--secondary-text-color);
    padding: var(--text-tile-padding);
    border-radius: var(--border-radius);
    position: relative;
}

.text-tile p {
    margin-top: 18px;
    font-family: var(--primary-font-family);
    line-height: 26px;
    font-size: 18px;
}

.text-tile.margin-left-0 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.text-tile.margin-right-0 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.text-tile.empty-tile {
    height: calc(100% - (var(--text-tile-padding) * 2));
}

.text-tile-wrapper:has(.text-tile.empty-tile) {
    position: relative;
    flex-grow: 1;
}
 
.desktop-grid-2-1 .text-tile.margin-left-0 {
    margin-left: calc((100% / 2 * 3 + 24px - 100vw) / 2 + 8px);
    padding-left: calc((100vw - 100% / 2 * 3 + 24px) / 2)
}

.desktop-grid-2-1 .text-tile.margin-right-0 {
    margin-right: calc((100% * 3 + 24px - 100vw) / 2 + 8px);
    padding-right: calc((100vw - 100% * 3 + 24px) / 2)
}

.desktop-grid-1-2 .text-tile.margin-left-0 {
    margin-left: calc((100% * 3 + 24px - 100vw) / 2 + 8px);
    padding-left: calc((100vw - 100% * 3 + 24px) / 2)
}

.desktop-grid-1-2 .text-tile.margin-right-0 {
    margin-right: calc(((100% / 2 * 3 + 24px) - 100vw) / 2 + 8px);
    padding-right: calc((100vw - 100% / 2 * 3 + 24px) / 2)
}

.desktop-grid-50-50 .text-tile.margin-left-0 {
    margin-left: calc(((100% * 2 + 24px) - 100vw) / 2 + 8px);
    padding-left: calc((100vw - 100% * 2 + 24px) / 2)
}

.desktop-grid-50-50 .text-tile.margin-right-0 {
    margin-right: calc(((100% * 2 + 24px) - 100vw) / 2 + 8px);
    padding-right: calc((100vw - 100% * 2 + 24px) / 2)
}

.text-tile.no-background {
    background-color: unset;
    color: white;
}

.text-tile.small-space p {
    margin-top: 4px;
}