@import url('./text-tile-title-only.css');
@import url('./text-tile-spacings.css');
@import url('./text-tile-dots.css');

.text-tile.bg-blue {
    background-color: var(--color-blue);
}

.text-tile.bg-cyan {
    background-color: var(--color-aqamarine);
}

.text-tile.bg-white {
    background-color: var(--color-white);
}

.text-tile {
    --text-tile-padding: 32px;

    background-color: transparent;
    color: var(--secondary-text-color);
    padding: var(--text-tile-padding);
    border-radius: var(--border-radius);
    position: relative;
}

.text-tile p {
    margin-top: 18px;
    font-family: var(--primary-font-family);
    line-height: 26px;
    font-size: var(--body-font-size-m);
}

.text-tile.empty-tile {
    height: calc(100% - (var(--text-tile-padding) * 2));
}

.text-tile-wrapper:has(.text-tile.empty-tile) {
    position: relative;
    flex-grow: 1;
}

.text-tile.no-background {
    background-color: unset;
    color: white;
}

.text-tile.small-space p {
    margin-top: 4px;
}

@media (max-width: 1024px) {
    .text-tile.small-space p {
        padding-left: 20px;
    }
}