.image-wrapper .image {
    position: relative;
} 

.image-wrapper:has(.image.full-height) {
    height: 100%;
}

.image-wrapper > .image {
    font-size: 0;
}

.image.full-height {
    height: 100%;
}

.image.full-height img {
    height: 100%;
}

.image.position-left img {
    object-position: left;
}

.image img {
    border-radius: var(--border-radius);
    object-fit: cover;
}

.image.height-s img, .image.height-268 img {
    height: 268px;
    width: 100%;
}

.image.height-300 img {
    height: 300px;
}

.image.height-350 img {
    height: 350px;
}

.image.ratio-1-1 img {
    aspect-ratio: 1 / 1;
}

.image.ratio-2-3 img {
    aspect-ratio: 2 / 3;
}

.image.ratio-3-2 img {
    aspect-ratio: 3 / 2;
}

.image-icons {
    position: absolute;
    display: inline-flex;
    right: 24px;
    bottom: 24px;
    gap: 12px;
    z-index: 2;
}

.image-icon {
    height: 24px;
    width: 24px;
    background-image: var(--image-icon-path);
}

.image-icon:hover {
    background-image: var(--image-icon-hover-path);
}

.image.desktop-right {
    text-align: right;
}

.image.relative {
    position: relative;
    height: 100%;
}

.image.relative, .image-wrapper:has(.image.relative), .image.relative picture {
    position: relative;
    height: 100%;
}

.image.relative img {
    height: 100%;
    object-position: bottom;
    object-fit: contain;
    position: absolute;
    width: 100%;
}
.image.relative picture {
    display: flex;
}

@media (max-width: 1024px) {
    .image.mobile-height-s img, .image.mobile-height-268 img {
        height: 268px;
        width: 100%;
    }

    .image.mobile-height-280 img {
        height: 280px;
    }

    .image.mobile-object-position-top img {
        object-position: top;
    }
}