.image-wrapper:has(.image.full-height) {
    height: 100%;
}

.image.full-height {
    height: 100%;
}

.image.full-height img {
    height: 100%;
    object-fit: cover;
}

.image.position-left img {
    object-position: left;
}

.image img {
    border-radius: var(--border-radius);
}