footer {
  font-size: var(--body-font-size-xs);
}

footer .icon img {
  width: 32px;
  height: 32px;
}

footer .icon {
  line-height: 0;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 48px 24px;
}

footer .footer p {
  margin: 0;
}