.list {
    --list-text-color: var(--color-black-lighter);
    --list-dot-color: var(--color-aqamarine);
}

.list.fit-content-center {
    width: fit-content;
    margin: auto;
}

.list ul,
.list ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: unset;
    margin-top: 0;
    margin-bottom: 0;
}

.list ol {
    counter-reset: item;
}

.list ol li::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    color: var(--list-dot-color);
    font-size: var(--font-size-h2);
    font-family: var(--secondary-font-family);
    margin-right: 24px;
    line-height: var(--line-height-normal);
    width: 32px;
}

.list ul > li,
.list ol > li {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    color: var(--list-text-color);
}

.list ul > li::before {
    content: " ";
    background-color: var(--list-dot-color);
    height: 32px;
    width: 16px;
    display: inline-block;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 40px;
    margin-right: 24px;
}

.list.text-white {
    --list-text-color: var(--color-white)
}

.list.dot-blue {
    --list-dot-color: var(--color-blue)
}

@media (min-width: 1025px) {
    .list.desktop-dot-blue {
        --list-dot-color: var(--color-blue)
    }
}

@media (max-width: 1024px) {
    .list.mobile-text-white {
        --list-text-color: var(--color-white)
    }
    .list ol li::before {
        font-size: 40px;
    }
}

