main > div.section.margin-top-48, .margin-top-48 {
    margin-top: 48px;
}

main > div.section.margin-top-64, .margin-top-64 {
    margin-top: 64px;
}

main > div.section.margin-top-72, .margin-top-72 {
    margin-top: 72px;
}

main > div.section.margin-top-152, .margin-top-152 {
    margin-top: 152px;
}