main div.section.margin-top-0, .margin-top-0 {
    margin-top: 0;
}

main > div.section.margin-top-48, .margin-top-48 {
    margin-top: 48px;
}

main > div.section.margin-top-64, .margin-top-64 {
    margin-top: 64px;
}

main > div.section.margin-top-72, .margin-top-72 {
    margin-top: 72px;
}

main > div.section.margin-top-152, .margin-top-152 {
    margin-top: 152px;
}

/* Negative margins */
main div.section.negative-margin-top-32, .negative-margin-top-32 {
    margin-top: -32px;
}

main div.section.negative-margin-top-64, .negative-margin-top-64 {
    margin-top: -64px;
}

main div.section.negative-margin-top-102, .negative-margin-top-102 {
    margin-top: -102px;
}

main div.section.negative-margin-top-128, .negative-margin-top-128 {
    margin-top: -128px;
}

main div.section.negative-margin-bottom-60, .negative-margin-bottom-60 {
    margin-bottom: -60px;
}

main div.section.negative-margin-top-48, .negative-margin-top-48 {
    margin-top: -48px;
}

main div.section.negative-margin-top-24, .negative-margin-top-24 {
    margin-top: -24px;
}

main div.section.negative-margin-left-48, .negative-margin-left-48 {
    margin-left: -48px;
}

@media (max-width: 1024px) {

    main div.section.mobile-margin-top-0, .mobile-margin-top-0 {
        margin-top: 0;
    }

    main div.section.mobile-margin-top-48, .mobile-margin-top-48 {
        margin-top: 48px;
    }

    main div.section.mobile-margin-sides-24, .mobile-margin-sides-24 {
        margin-left: 24px;
        margin-right: 24px;
    }

    main div.section.mobile-margin-sides-32, .mobile-margin-sides-32 {
        margin-left: 32px;
        margin-right: 32px;
    }
}