.blog-page-template main h2 a::before,
.blog-page-template main h3 a::before,
.blog-page-template main h4 a::before,
.blog-page-template main h5 a::before,
.blog-page-template main h6 a::before {
  content: '#';
  margin-right: 0.25em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.blog-page-template main h2 a,
.blog-page-template main h3 a,
.blog-page-template main h4 a,
.blog-page-template main h5 a,
.blog-page-template main h6 a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.blog-page-template main h2 a:hover,
.blog-page-template main h3 a:hover,
.blog-page-template main h4 a:hover,
.blog-page-template main h5 a:hover,
.blog-page-template main h6 a:hover {
  background: linear-gradient(to right, var(--color-aqamarine), var(--color-blue-lighter));
  text-decoration: none;
}

.blog-page-template main a {
  color: var(--color-aqamarine);
  text-decoration: none;
  transition: color 0.3s ease;
}

.blog-page-template main a:hover {
  color: var(--color-blue-lighter);
  text-decoration: underline;
}

.blog-page-template main code {
  color: var(--color-aqamarine);
  background-color: var(--color-dark);
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  padding: 0.2em 0.4em;
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--body-font-size-xs);
}