/* add global styles that can be loaded post LCP here */
main {
    background-image: url("https://media.devhandler.com/static/images/bg-desktop.png");
    background-image: url("https://media.devhandler.com/static/images/bg-desktop.webp");
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media (max-width: 1024px) {
    main {
        background-image: url("https://media.devhandler.com/static/images/bg-mobile.png");
        background-image: url("https://media.devhandler.com/static/images/bg-mobile.webp");
    }
}