/* add global styles that can be loaded post LCP here */
main {
    background-image: url("https://media.devhandler.com/static/images/bg-desktop.png");
    background-size: contain;
    position: relative;
    z-index: -1;
}

@media (max-width: 1024px) {
    background-image: url("https://media.devhandler.com/static/images/bg-mobile.png");
}