/* Spacings */
main div.section.margin-top-0, .margin-top-0 {
    margin-top: 0;
}

main > div.section.margin-top-8, .margin-top-8 {
    margin-top: 8px;
}

main > div.section.margin-top-12, .margin-top-12 {
    margin-top: 12px;
}

main > div.section.margin-top-16, .margin-top-16 {
    margin-top: 16px;
}

main > div.section.margin-top-20, .margin-top-20 {
    margin-top: 20px;
}

main > div.section.margin-top-24, .margin-top-24 {
    margin-top: 24px;
}

main > div.section.margin-top-32, .margin-top-32 {
    margin-top: 32px;
}

main > div.section.margin-top-20, .margin-top-40 {
    margin-top: 40px;
}

main > div.section.margin-top-48, .margin-top-48 {
    margin-top: 48px;
}

main > div.section.margin-top-64, .margin-top-64 {
    margin-top: 64px;
}

main > div.section.margin-top-72, .margin-top-72 {
    margin-top: 72px;
}

main > div.section.margin-top-102, .margin-top-102 {
    margin-top: 102px;
}

main > div.section.margin-top-152, .margin-top-152 {
    margin-top: 152px;
}

/* Negative margins */
main div.section.negative-margin-top-32, .negative-margin-top-32 {
    margin-top: -32px;
}

main div.section.negative-margin-top-64, .negative-margin-top-64 {
    margin-top: -64px;
}

main div.section.negative-margin-top-102, .negative-margin-top-102 {
    margin-top: -102px;
}

main div.section.negative-margin-top-128, .negative-margin-top-128 {
    margin-top: -128px;
}

main div.section.negative-margin-bottom-60, .negative-margin-bottom-60 {
    margin-bottom: -60px;
}

main div.section.negative-margin-top-48, .negative-margin-top-48 {
    margin-top: -48px;
}

main div.section.negative-margin-top-24, .negative-margin-top-24 {
    margin-top: -24px;
}

main div.section.negative-margin-left-48, .negative-margin-left-48 {
    margin-left: -48px;
}

@media (width <= 1024px) {
    main div.section.mobile-margin-32, .mobile-margin-32 {
        margin: 32px;
    }

    main div.section.mobile-margin-top-0, .mobile-margin-top-0 {
        margin-top: 0;
    }

    main div.section.mobile-margin-top-16, .mobile-margin-top-16 {
        margin-top: 16px;
    }

    main div.section.mobile-margin-top-20, .mobile-margin-top-20 {
        margin-top: 20px;
    }

    main div.section.mobile-margin-top-24, .mobile-margin-top-24 {
        margin-top: 24px;
    }

    main div.section.mobile-margin-top-32, .mobile-margin-top-32 {
        margin-top: 32px;
    }

    main div.section.mobile-margin-top-48, .mobile-margin-top-48 {
        margin-top: 48px;
    }

    main div.section.mobile-margin-bottom-0, .mobile-margin-bottom-0 {
        margin-bottom: 0;
    }

    main div.section.mobile-margin-bottom-16, .mobile-margin-bottom-16 {
        margin-bottom: 16px;
    }

    main div.section.mobile-margin-bottom-20, .mobile-margin-bottom-20 {
        margin-bottom: 20px;
    }

    main div.section.mobile-margin-bottom-24, .mobile-margin-bottom-24 {
        margin-bottom: 24px;
    }

    main div.section.mobile-margin-bottom-32, .mobile-margin-bottom-32 {
        margin-bottom: 32px;
    }

    main div.section.mobile-margin-bottom-48, .mobile-margin-bottom-48 {
        margin-bottom: 48px;
    }

    main div.section.mobile-margin-sides-24, .mobile-margin-sides-24 {
        margin-left: 24px;
        margin-right: 24px;
    }

    main div.section.mobile-margin-sides-32, .mobile-margin-sides-32 {
        margin-left: 32px;
        margin-right: 32px;
    }

    main div.section.mobile-negative-margin-top-64, .mobile-negative-margin-top-64 {
        margin-top: -64px;
    }
}

/* Paddings */

/* Paddings */
main div.section.padding-top-16, .padding-top-16 {
    padding-top: 16px;
}

main div.section.padding-top-24, .padding-top-24 {
    padding-top: 24px;
}

main div.section.padding-top-32, .padding-top-32 {
    padding-top: 32px;
}

main div.section.padding-top-40, .padding-top-40 {
    padding-top: 40px;
}

main div.section.padding-top-48, .padding-top-48 {
    padding-top: 48px;
}

main div.section.padding-top-56, .padding-top-56 {
    padding-top: 56px;
}

main div.section.padding-top-64, .padding-top-64 {
    padding-top: 64px;
}

main div.section.padding-top-72, .padding-top-72 {
    padding-top: 72px;
}

main div.section.padding-top-80, .padding-top-80 {
    padding-top: 80px;
}

main div.section.padding-top-88, .padding-top-88 {
    padding-top: 88px;
}

main div.section.padding-top-92, .padding-top-92 {
    padding-top: 92px;
}

main div.section.padding-top-96, .padding-top-96 {
    padding-top: 96px;
}

main div.section.padding-bottom-8, .padding-bottom-8 {
    padding-bottom: 8px;
}

main div.section.padding-bottom-12, .padding-bottom-12 {
    padding-bottom: 12px;
}

main div.section.padding-bottom-16, .padding-bottom-16 {
    padding-bottom: 16px;
}

main div.section.padding-bottom-24, .padding-bottom-24 {
    padding-bottom: 24px;
}

main div.section.padding-bottom-32, .padding-bottom-32 {
    padding-bottom: 32px;
}

main div.section.padding-bottom-48, .padding-bottom-48 {
    padding-bottom: 48px;
}

main div.section.padding-bottom-64, .padding-bottom-64 {
    padding-bottom: 64px;
}

main div.section.padding-bottom-102, .padding-bottom-102 {
    padding-bottom: 102px;
}

main div.section.padding-bottom-152, .padding-bottom-152 {
    padding-bottom: 152px;
}

.default-padding {
    padding: 24px;
}

.padding-sides-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.padding-sides-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-sides-48 {
    padding-left: 48px;
    padding-right: 48px;
}

.padding-left-64 {
    padding-left: 64px;
}

.padding-24 {
    padding: 24px;
}

.padding-32 {
    padding: 32px;
}

.padding-48 {
    padding: 48px;
}

main div.section.padding-64, .padding-64 {
    padding: 64px;
}

@media (width <= 1024px) {
    main div.section.mobile-vertical-padding-48, .mobile-vertical-padding-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    main div.section.mobile-padding-0, .mobile-padding-0 {
        padding: 0;
    }

    main div.section.mobile-padding-18, .mobile-padding-18 {
        padding: 18px;
    }

    main div.section.mobile-padding-24, .mobile-padding-24 {
        padding: 24px;
    }

    main div.section.mobile-padding-32, .mobile-padding-32 {
        padding: 32px;
    }

    main div.section.mobile-padding-bottom-0, .mobile-padding-bottom-0 {
        padding-bottom: 0;
    }

    main div.section.mobile-padding-bottom-8, .mobile-padding-bottom-8 {
        padding-bottom: 8px;
    }

    main div.section.mobile-padding-bottom-24, .mobile-padding-bottom-24 {
        padding-bottom: 24px;
    }

    main div.section.mobile-padding-bottom-32, .mobile-padding-bottom-32 {
        padding-bottom: 32px;
    }

    main div.section.mobile-padding-bottom-48, .mobile-padding-bottom-48 {
        padding-bottom: 48px;
    }

    main div.section.mobile-padding-bottom-140, .mobile-padding-bottom-140 {
        padding-bottom: 140px;
    }

    main div.section.mobile-padding-top-0, .mobile-padding-top-0 {
        padding-top: 0;
    }

    main div.section.mobile-padding-top-8, .mobile-padding-top-8 {
        padding-top: 8px;
    }

    main div.section.mobile-padding-top-32, .mobile-padding-top-32 {
        padding-top: 32px;
    }

    main div.section.mobile-padding-top-108, .mobile-padding-top-108 {
        padding-top: 108px;
    }

    main div.section.mobile-padding-right-0, .mobile-padding-right-0 {
        padding-right: 0;
    }

    main div.section.mobile-padding-sides-0, .mobile-padding-sides-0 {
        padding-left: 0;
        padding-right: 0;
    }

    main div.section.mobile-padding-sides-24, .mobile-padding-sides-24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    main div.section.mobile-padding-sides-32, .mobile-padding-sides-32 {
        padding-left: 32px;
        padding-right: 32px;
    }
}