:root {
    /* breakpoints */
    --desktop-breakpoint: 1024px;

    /* colors */
    --background-color: white;
    
    /* line heights */
    --bode-line-height-xl: 30px;
    
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 48px; /* h1 */
    --heading-font-size-xl: 42px; /* h2 */
    --heading-font-size-l: 32px; /* h3 */
    --heading-font-size-m: 28px; /* h4 */
    --heading-font-size-s: 22px; /* h5 */
    --heading-font-size-xs: 18px; /* h6 */
    --font-size-h1: var(--heading-font-size-xxl);
    --font-size-h2: var(--heading-font-size-xl);
    --font-size-h3: var(--heading-font-size-l);
    --font-size-h4: var(--heading-font-size-m);
    --font-size-h5: var(--heading-font-size-s);
    --font-size-h6: var(--heading-font-size-xs);
    --line-height-normal: normal;
    --line-height-m: 26px;

    /* nav height */
    --nav-height: 64px;

    /* Fonts */
    --secondary-font-family: amplealt, 'sans-serif';
    --primary-font-family: hind, 'Adjusted Arial Fallback';

    /* Seciton */
    --section-gap: 24px;

    /* Colors */
    --color-aqamarine: #4ce1ba;
    --color-blue: #0063F8;
    --color-blue-lighter: #3585ff;
    --color-gray: #929292;
    --color-gray-blue: #89B7D0;
    --color-black: #222;
    --color-white: #fff;
    --color-dark: #505050;
    --color-absolute-black: #000;
    --color-bg-gray-linear: linear-gradient(to right, var(--color-gray) -50%, var(--color-black));
    --color-bg-gray-linear-transperent: linear-gradient(110deg, rgb(255 255 255 / 35%) 0%, rgb(255 255 255 / 6%) 100%);

    /* Text Colors */
    --primary-text-color: var(--color-white);
    --secondary-text-color: var(--color-black);

    /* Borders */
    --border-radius: 20px;
    --border-size: 3px;
}

body {
    margin: 0;
    display: none;
    background-color: var(--color-black);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
    background-image: url("https://media.devhandler.com/static/images/bg-desktop.webp");
    background-size: cover;
}

body.appear {
    display: block;
}

header {
    height: var(--nav-height);
}

body:not(.blog-page-template) p,
body:not(.blog-page-template) dl,
body:not(.blog-page-template) ol,
body:not(.blog-page-template) ul,
body:not(.blog-page-template) pre,
body:not(.blog-page-template) blockquote {
    margin: 0;
    padding: 0;
}

code,
pre {
    font-size: var(--body-font-size-s);
}

pre {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--light-color);
    overflow-x: auto;
    white-space: pre;
}

@media (width <= 1024px) {
    body {
        background-image: url("https://media.devhandler.com/static/images/bg-mobile.webp");
    }
}

main > div {
    margin: 40px 16px;
}

input,
textarea,
select,
button {
    font: inherit;
}

/* links */
a:any-link {
    text-decoration: none;
    word-break: break-word;
}

a:hover {
    text-decoration: underline;
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.icon img {
    height: 100%;
    width: 100%;
}

/* sections */
main > .section {
    margin: 40px 0;
}

main > .section:first-of-type {
    margin-top: 0;
}

@media (width >= 1025px) {
    .desktop-hidden {
        display: none !important;
    }
}

@media (width <= 1024px) {
    :root {
        --heading-font-size-xxl: 22px; /* h1 */
        --heading-font-size-xl: 20px; /* h2 */
        --heading-font-size-l: 18px; /* h3 */
        --heading-font-size-m: 17px; /* h4 */
        --heading-font-size-s: 17px; /* h5 */
        --heading-font-size-xs: 16px; /* h6 */
        --body-font-size-m: 16px;
        --body-font-size-s: 19px;
        --body-font-size-xs: 17px;
    }

    .mobile-hidden {
        display: none !important;
    }
}

/* Headings */

body:not(.blog-page-template) h1,
body:not(.blog-page-template) h2,
body:not(.blog-page-template) h3,
body:not(.blog-page-template) h4,
body:not(.blog-page-template) h5,
body:not(.blog-page-template) h6 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    line-height: normal;
    scroll-margin: 40px;
}

h1, .h1 {
    font-size: var(--heading-font-size-xxl);
    font-weight: 500;
}

h2, .h2 {
    font-size: var(--heading-font-size-xl);
    font-weight: 500;
}

h3, .h3 {
    font-size: var(--heading-font-size-l);
    font-weight: 500;
}

h4, .h4 {
    font-size: var(--heading-font-size-m);
    font-family: var(--primary-font-family);
    line-height: 26px;
}

h5, .h5 {
    font-size: var(--heading-font-size-s);
}

h6, .h6 {
    font-size: var(--heading-font-size-xs);
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: var(--secondary-font-family);
}

.font-weight-500 {
    font-weight: 500;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 10px;
}

p + h2 {
    margin-top: 16px;
}

/* Colors */
.text-color-blue {
    color: var(--color-blue);
}

.text-color-linear {
    background-image: linear-gradient(var(--color-blue), var(--color-aqamarine));
    color: transparent;
    background-clip: text;
}

.text-color-linear-to-bottom {
    background-image: linear-gradient(to bottom, var(--color-blue), var(--color-aqamarine));
    color: transparent;
    background-clip: text;
}

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}

.bg-gray-linear {
    background: var(--color-bg-gray-linear);
}

main div.section.background-white {
    background-color: white;
    color: black;
}

main div.section.background-dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

main div.section.background-gradient {
    background: linear-gradient(90deg, #4DE4B9 51.15%, #0358D8 99.98%);
    color: black;
}

@media (width <= 1024px) {
    .text-color-blue {
        color: var(--color-blue-lighter);
    }

    .text-14 p, .text-14 span {
        font-size: 14px;
        line-height: 14px;
    }

    .mobile-bg-gray-linear {
        background: var(--color-bg-gray-linear);
    }

    .mobile-bg-white {
        background: var(--color-white);
    }

    .mobile-text-center {
        text-align: center;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-color-white {
        color: var(--color-white);
    }

    .mobile-color-black {
        color: var(--color-black);
    }

    .mobile-color-absolute-black {
        color: var(--color-absolute-black);
    }
}

/* Common */
.hidden {
    display: none !important;
}

.height-auto {
    height: auto;
}

.text-bottom {
    justify-content: end;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.plain-text h2, .plain-text h3,.plain-text h4,.plain-text h5,.plain-text h6 {
    margin-top: 16px;
}

.plain-text ul, .plain-text ol {
    margin-left: 32px;
}

.plain-text a {
    color: var(--color-blue-lighter);
}

@media (width >= 1025px) {
    .desktop-bg-gray-linear {
        background: var(--color-bg-gray-linear);
    }

    .vertical-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 91%;
        height: min-content;
        display: flex;
    }

    .desktop-hidden {
        display: none !important;
    }
}

/* Section Styles */
.section {
    --section-background-size: cover;
    --section-background-image: 'none';
    --section-background-height: '';
    --section-background-position: '';
    --section-mobile-height: '';
    --section-mobile-background-image: '';
    --section-mobile-background-height: '';
    --section-height: '';
}

.section.border-box {
    box-sizing: border-box;
}

.section.overflow-hidden, .overflow-hidden {
    overflow: hidden;
}

.show-from-right, .show-from-left {
    position: relative;
}

.show-from-right {
    right: -100vw;
}

.show-from-left {
    left: -100vw;
}

.show-animation-finished {
    transition: right 0.5s ease, left 0.5s ease;
}

@media (width >= 1025px) and (width <= 1248px) {
    .section.border-box {
        margin-left: 24px;
        margin-right: 24px;
    }
}

.section.default-border-padding {
    padding: 32px 64px;
}

.section.row-gap-24 {
    column-gap: 24px;
}

.section.section-gap-0 {
    gap: 0;
}

main div.section {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: var(--section-height);
}

main div.section.block-group-end {
    max-width: unset;
    padding-left: unset;
    padding-right: unset;
    margin: unset;
    margin-top: unset;
}

main div.section.full-width {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

main div.section.full-width-with-side-paddings {
    padding-left: calc((100vw - 1200px - 12px) / 2);
    padding-right: calc((100vw - 1200px - 12px) / 2);
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
}

@media (width <= 1248px) {
    main div.section.full-width-with-side-paddings {
        padding-left: 24px;
        padding-right: 24px;
        max-width: unset;
        margin-left: 0;
        margin-right: 0;
    }

    .section.mobile-overflow-x-clip, .mobile-overflow-x-clip {
        overflow-x: clip;
    }

    .section.mobile-overflow-x-auto, .mobile-overflow-x-auto {
        overflow-x: auto;
    }
}

main div.section.background-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main div.section.zindex-1 {
    z-index: 1;
}

main div.section.zindex-negative-1 {
    z-index: -1;
}

@media (width <= 1024px) {
    main div.section.mobile-direction-row {
        flex-direction: row;
    }

    main div.section {
        height: var(--section-mobile-height);
    }

    main div.section.mobile-gap-0 {
        gap: 0;
    }


    main div.section.mobile-gap-12, .mobile-gap-12 {
        gap: 12px;
    }

    main div.section.mobile-background-white, .mobile-background-white {
        background-color: white;
        color: black;
    }

    main div.section.mobile-background-dark, .mobile-background-dark {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    main div.section.mobile-background-transparent, .mobile-background-transparent {
        background-color: transparent;
        color: var(--color-white);
    }
}

/* section background */
.bg::after {
    content: " ";
    position: absolute;
    background-image: var(--section-background-image);
    height: var(--section-background-height);
    width: 100%;
    z-index: -1;
    left: 0;
    top: var(--section-background-top);
    bottom: var(--section-background-bottom);
    background-position: var(--section-background-position);
    background-size: var(--section-background-size);
    background-repeat: no-repeat;
}

@media (width <= 1024px) {
    .bg::after {
        background-image: var(--section-mobile-background-image);
        height: var(--section-mobile-background-height);
        background-position: var(--section-background-position);
    }
}

/* Border styles */
.border {
    border: var(--border-size) solid var(--color-aqamarine);
    border-radius: var(--border-radius);
}

.default-border-radius {
    border-radius: var(--border-radius);
}

.border-blue {
    border-color: var(--color-blue);
}

.border-white {
    border-color: var(--color-white);
}

.border-cyan {
    border-color: var(--color-aqamarine);
}

@media (width <= 1024px) {
    .mobile-border {
        border: var(--border-size) solid var(--color-aqamarine);
        border-radius: var(--border-radius);
    }

    .mobile-border-cyan {
        border-color: var(--color-aqamarine);
    }

    .mobile-border-blue {
        border-color: var(--color-blue);
    }

    .mobile-border-white {
        border-color: var(--color-white);
    }

    .mobile-border-top-none {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .mobile-border-bottom-none {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mobile-border-radius-0 {
        border-radius: 0;
    }

    .mobile-border-none {
        border: none;
        border-radius: 0;
    }

    main div.section.mobile-border-radius, .mobile-border-radius {
        border-radius: var(--border-radius);
    }
}