@import url(./common/section.css);
@import url(./common/headings.css);
@import url(./common/special-colors.css);
@import url(./common/buttons.css);
@import url(./common/common.css);

:root {
  /* colors */
  --background-color: white;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 42px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 22px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

  /* Fonts */
  --secondary-font-family: AmpleAlt, 'sans-serif';
  --primary-font-family: Hind, 'sans-serif';

  /* Seciton */
  --section-gap: 24px;

  /* Colors */
  --color-aqamarine: #4ce1ba;
  --color-blue: #0063F8;
  --color-gray: #929292;
  --color-gray-blue: #89B7D0;
  --color-black: #000;
  --color-black-lighter: #222222;
  --color-white: #fff;
  --color-dark: #505050;

  /* Text Colors */
  --primary-text-color: var(--color-white);
  --secondary-text-color: var(--color-black-lighter);

  --border-radius: 20px;
  --border-size: 3px;
}

body {
  display: none;
  margin: 0;
  background-color: var(--color-black-lighter);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section:first-of-type {
  margin-top: 0;
}

