@keyframes infiniteScroll {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(calc(0px - 50%));
    }
}

.infinite-scroll {
    animation-name: infiniteScroll;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: max-content;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 60px;
    row-gap: 80px;
}

.infinite-scroll > div {
    white-space: nowrap;
    height: 100px;
    width: 300px;
}

.infinite-scroll-wrapper {
    overflow: hidden;
}

@media (max-width: 1024px) {
    .infinite-scroll {
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 48px;
    }

    .infinite-scroll > div {
        height: 40px;
        width: 100px;
    }
}