.button.center {
    margin: auto;
}

.button.slim {
    --button-border-color: transperent;
    --button-background-color: var(--color-white);
    --button-background-hover-color: var(--color-blue);
    --button-text-color: var(--color-black);
    --button-padding-left: 48px;
    --button-padding-right: 48px;
    --button-padding-top: 16px;
    --button-padding-bottom: 16px;
    --button-font-size: 32px;
}

.button.right-align {
    text-align: right;
}

@media (width >= 1025px) {
    .button.wide {
        --button-padding-left: 180px;
        --button-padding-right: 180px;
    }
}

@media (width <= 1024px) {
    .button.mobile-center-align {
        text-align: center;
    }

    .button.slim {
        --button-font-size: 24px;
    }
}